<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body style="border: solid 1px">
    <div class="rootPanel">
      <div class="topPanel">顶栏</div>
      <div class="mainPanel">
        <div class="sidebar">侧边栏</div>
        <div class="contentPanel">主内容</div>
      </div>
    </div>

      <img src="./images/nzmilk.png" />
      <p> 我的标题是 {{title}}</p>
      <h1> Welcome to Feng's nodejs course</h1>
    {{{body}}}
  </body>
</html>
