<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  </head>
  <body style="border: solid 1px">
    <div class="rootPanel">
      <div class="topPanel">
        <img style="width:100%" src="/images/nzmilk.png" />
        <p> 我的标题是 {{title}}</p>
        <h1> Welcome to Feng's nodejs course</h1>
      </div>
      <div class="mainPanel">
        <div class="sidebar">
          <a href="/">主页</a>
          <a href="/page1">page1</a>
          <a href="/page1/1">page1.1</a>
          <a href="/page2.html">page2.html</a>
        </div>
        <div class="contentPanel">
          {{{body}}}
        </div>
      </div>
    </div>

  </body>
</html>
