<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
      <img src="./images/nzmilk.png" />
      <p> 我的标题是 {{title}}</p>
      <h1> Welcome to Feng's nodejs course</h1>
    {{{body}}}
  </body>
</html>
